<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Dev Thoughts</h1>
    <p class="lead blog-description">Musings from my development journey.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path , class: "btn btn-primary" if logged_in?(:site_admin)%>
      <%= link_to 'Add new topic', new_topic_path , class: "btn btn-secondary" if logged_in?(:site_admin)%>
      <%= link_to "Topics", topics_path, class: "btn btn-light" %>
    </span>
  </div>
</div>
