<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software engineering is a process that takes stubbornness. Failing at coding is okay, giving up at coding is not.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>